{%extends "layout.html"%}
{%block content%}

<div class = "container">
    <center><a href="..\static\Kyle_Sizer_CV.pdf" download="Kyle_Sizer_CV.pdf">Download PDF</a></center>
    <H1 id="Kyle" class="centre-text">Kyle Sizer</H1>
    <hr>
    <p id="lead-line" class="centre-text">Experienced data analyst with a backround in marketing science and product analytics</p>
    <hr>
    <h2>Education</h2>
    <p><strong>BSc Physics</strong> - University of Hertfordshire 2017</p>
    <ul>
        <li><strong>Skills:</strong> Problem solving, analytical thinking, teamwork, public presentation, MATLAB, Maple</li>
    </ul>
    <p><strong>Microsoft Professional Program in Data Science</strong> - Microsoft Professional Program (August 2017 - January 2018)</p>
    <ul>
        <li><strong>Skills:</strong><ul>
            <li>Python (pandas, matplotlib, scikit-learn) - Data handling, visualisation and machine learning</li>
            <li>Pyspark - Large scale data processing</li>
            <li>Transact-SQL - Database querying</li>
            <li>Advanced Excel - Data model, VBA, advanced functions</li>
            <li>Hypothesis testing and statistical analysis</li>
            <li>Capstone project - prediction of poverty rates in US counties using survey data</li>
        </ul></li>
        <li>Completed the recommended one-year course in just under 6 months and attained an overall mark of 97%</li>
    </ul>
    <hr>
    <h2>Experience</h2>
    <p><strong>Tripledot Studios - Product Analyst (July 2021 - March 2022)</strong></p>
    <ul>
        <li>Using SQL, performed deep dives into customer interaction with the app in order to better understand what we should be prioritising for development</li>
        <li>Identified potential problems or worrying trends and determined the root cause supporting the investigation with data</li>
        <li>Set up and managed AB experiments for new features in order to determine whether they have positive impacts on game KPIs</li>
        <li>Liaised with the user acquisition team to smooth out any issues, ensure our products UA is running optimally and that they had any support they needed from a product perspective</li>
    </ul>
    <p><strong>Annalect - Marketing Science Analyst (July 2018 - July 2021)</strong></p>
    <ul>
        <li>Performed statistical modelling of marketing KPIs using OLS models</li>
        <li>Wrote a script to pull data from Google Analytics APIs and process it in R, then feed into a Tableau
            dashboard to visualise it. This resulted in the client having online access to their analytics report
            which was previously only updated monthly in a PowerPoint</li>
        <li>Created an RShiny app to visualise MMM results and provide a tool to do scenario comparisons easily</li>
        <li>Managed multiple Market Mix Modelling projects including coordinating with the client and internal teams
            to ensure timely delivery of data, processing data into appropriate forms for analysis, statistical
            modelling of the KPI and delegating tasks to team members where necessary</li>
        <li>Optimised and maintained automated reporting in R for a digital client, liaising with the client team
            when necessary for ad-hoc reports</li>
        <li>Researched, prototyped and then conducted time-series hierarchal clustering analysis in R on
            survey data to determine how consumer moods and desires changed across the year and which
            moods moved with one another</li>
    </ul>
    <p><strong>Sowell Management Services (March 2018 - July 2018)</strong></p>
    <p>Ad-hoc project work for a portfolio management firm based in Littlerock, Texas</p>
    <ul>
        <li>Integrated multiple workflow tools into a single document through use of VBA code and functions.
            This automated a portion of daily manual work allowing for more efficient client interaction</li>
        <li>Researched and created a database of firms that issue K-1 tax documents so that they can more
            easily cater to client needs</li>
        <li>Created an excel document linked to multiple publisher files to automate updating of client portfolio
            reports. This involved VBA to automatically adjust graph axis' around the data which could have
            variable timeframes</li>
        <li>Worked out a method combine pie charts and bubble charts to create a visualisation of portfolio
            composition and size in an interesting way</li>
    </ul>
    <hr>
    <h2>Technical Skills</h2>
    <ul>
        <li><strong>Programming languages:</strong> Python, R</li>
        <li><strong>Data tools:</strong> AWS(EC2, S3, Athena), Looker</li>
        <li><strong>Data Visualisation:</strong> Tableau, bokeh, ggplot2</li>
        <li><strong>Data Science:</strong> Pandas, scikit-learn, tidyverse, SQL</li>
    </ul>
    
</div>
{%endblock%}