{%extends "layout.html"%}
{%block content%}
<script type="text/javascript" src={{cdn_js | safe}}></script>
<script type="text/javascript" src={{cdn_widgets | safe}}></script>
{{script | safe}}

<div class = "container">

    <h1>Covid cases per 100k population in each region</h1>
    <p><strong>Click on a region to see more information</strong></p>

    <div class = row>
        <div class = 'col'>
            {{div1 | safe}}
        </div>
        <div class = 'col'>
            
            <p><strong>Note: Wales and Northern Ireland third vaccination stats are incorrect due to reporting requirements at the time of the data pull</strong></p>
            <p>The peak of new cases in each region has a fairly large range. Change this option if you would like for the y-axis to auto adjust based on the maximum case value in each region</p>
            {{div3 | safe}}

            <hr>

            <p><strong>Description</strong></p>
            <p>
                I built this page to get more familiar with bokehs' javascript interactivity and to improve my ability to work with geographic data. In hindsight, I would have used a different 
                package for a mapping project since bokeh tiles work in mercator instead of lat/lon but it made for a good learning experience. 
            </p>
            <p>
                The map uses publically available data from the UK government on covid cases and population. I used a data set I found on kaggel for the regions geojson 
                but this information is also available from Ordinance Survey if you want a more detailed dataset and I have included a link to it below.
            </p>

            <p><strong>Data Sources:</strong></p>
            <ul>
                <li>Regional covid data: <a href="https://coronavirus.data.gov.uk/details/download">https://coronavirus.data.gov.uk/details/download</a></li>
                <li>Regional population: <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/populationestimatesforukenglandandwalesscotlandandnorthernireland">https://www.ons.gov.uk/peoplepopulationandcommunity/...</a></li>
                <li>UK Regions geojson: <a href="https://www.kaggle.com/datasets/dorianlazar/uk-regions-geojson">https://www.kaggle.com/datasets/dorianlazar/uk-regions-geojson</a></li>
                <li>OS regions dataset: <a href="https://osdatahub.os.uk/downloads/open/BoundaryLine">https://osdatahub.os.uk/downloads/open/BoundaryLine</a></li>
            </ul>
        </div>
    </div>

    <div class="modal" id = "region-info-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 id = "modal-title" class="modal-title">Edit to region</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class = "container-fluid">
                    <div class = "row justify-content-center">
                        <div class = "col">
                            <h5>Cases</h5>
                        </div>
                        <div class = "col">
                            <h5>Deaths</h5>
                        </div>
                        <div class = "col">
                            <h5>Population</h5>
                        </div>
                    </div>
    
                    <div class = "row justify-content-center">
                        <div class = "col">
                            <p id = "region-info-cases">edit to cases</p>
                        </div>
                        <div class = "col">
                            <p id = "region-info-deaths">edit to deaths</p>
                        </div>
                        <div class = "col">
                            <p id = "region-info-pop">edit to population</p>
                        </div>
                    </div>
    
                    <div class = "row justify-content-center">
                        <div class = "col">
                            <h5>% First Vaccination</h5>
                        </div>
                        <div class = "col">
                            <h5>% Second Vaccination</h5>
                        </div>
                        <div class = "col">
                            <h5>% Third Vaccination</h5>
                        </div>
                    </div>
    
                    <div class = "row justify-content-center">
                        <div class = "col">
                            <p id = "region-info-vacc1">edit to Vaccinated 1</p>
                        </div>
                        <div class = "col">
                            <p id = "region-info-vacc2">edit to Vaccinated 2</p>
                        </div>
                        <div class = "col">
                            <p id = "region-info-vacc3">edit to Vaccinated 3</p>
                        </div>
                    </div>

                    <div class = "row justify-content-center">
                        <div class = "col">
                            {{div2 | safe}}
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>
{%endblock%}