{%extends "layout.html"%}
{%block content%}

<div id="home-container" class = 'container-fluid min-vh-100 d-flex flex-column'>
    <div id="home-row" class="row align-items-center flex-grow-1">
        <div id="home-col" class = 'col'>
            <h1 class="align-middle">Kyle Sizer</h1>
            <h2 class="align-middle">Data Analysis | Data Visualisation | Statistical Modelling</h2>
            
        </div>
        
    </div>
    
</div>
<canvas class="background"></canvas> 
<script> 
    window.onload= function() {
      Particles.init({
        selector: '.background',
        connectParticles: 'True',
        maxParticles: 150
      });
    };
</script>
{%endblock%}